{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sudoku Helper</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sudoku/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sudoku/home.css' %}">
</head>
<body>
<ul class="header">
    <li><a href="/"><img class="logo" src="{% static "pictures/LOGO_SUDOKU_BLUE.png" %}"></a></li>
    <li style="float:right"><a href="/sudoku-solver/">Sudoku Helper</a></li>
    <li style="float:right"><a href="/sudoku-trainer/">Sudoku Trainer</a></li>
    <li style="float:right"><a href="/sudoku-creator/">Sudoku Creator</a></li>
</ul>
<div class="body_div">
    <h1 class="title_text">LOGO SUDOKU</h1>
    <div class="sub_text_box">
        <p class="title_sub_text">LOGO SUDOKU ist deine Anlaufstelle für deinen Sudoku Rätselspaß. Hier wird dir alles
            geboten. Schau dich gern um und teste alle unsere Features</p>
    </div>
    <div class="feature_box_color">
        <div class="feature_box">
            <a href="/sudoku-creator/">
                <div class="card">
                    <div>
                        <img class="images" src="{% static "pictures/20945015.jpg" %}">
                    </div>
                    <div>
                        <h4 class="section_title">Sudoku Creator</h4>
                        <p class="section_text">Der Sudoku Creator bietet dir die Möglichkeit Sudoku in verschiedenen
                            Schwierigkeitsgraden zu erstellen.</p>
                    </div>
                </div>
            </a>
            <a href="/sudoku-trainer/">
                <div class="card">
                    <div>
                        <img class="images" src="{% static "pictures/Wavy_Ppl-01_Single-04.jpg" %}">
                    </div>
                    <div>
                        <h4 class="section_title">Sudoku Trainer</h4>
                        <p class="section_text">Der Sudoku Trainer ermöglicht es dir die verschiedensten Lösungsstrategien zu üben und zu vertiefen.</p>
                    </div>
                </div>
            </a>
            <a href="/sudoku-solver/">
                <div class="card">
                    <div>
                        <img class="images" src="{% static "pictures/19198684.jpg" %}">
                    </div>
                    <div>
                        <h4 class="section_title">Sudoku Helper</h4>
                        <p class="section_text">Kommst du bei einem Sudoku mal nicht weiter, dann wird dir der Sudoku Helper helfen.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

<script src="{% static 'sudoku/home.js' %}"></script>
</body>
</html>