{% load static %}
{% load sudoku_extras %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Strategie - {{ name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sudoku/style/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sudoku/style/strategies.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sudoku/style/sudokuGrid.css' %}">
</head>
<body onload="{onSiteLoad(); strategieLoad({{ hints }})}">
<ul class="header">
    <li><a href="/"><img class="logo" src="{% static "pictures/LOGO_SUDOKU.png" %}"></a></li>
    <li style="float:right"><a href="/sudoku-solver/">Sudoku Helper</a></li>
    <li style="float:right" class="active"><a href="/sudoku-trainer/">Sudoku Trainer</a></li>
    <li style="float:right"><a href="/sudoku-creator/">Sudoku Creator</a></li>
</ul>
<div class="body_div">
    <h1 class="title_text">{{ name }}</h1>

    <div class="row">
        <div class="column">
            <div id="sudoku" class="sudoku-board show-candidates" data-board-size="9">
                <form action="/sudoku-solver/" method="post">
                    {% csrf_token %}
                    {% for n in "123456789" %}
                        {% for l in "ABCDEFGHI" %}
                            <div class="sudoku-board-cell">
                                <input id="{{ l }}{{ n }}" type="text" name="{{ l }}{{ n }}" pattern="\d"
                                       value="{{ values|letter:l|number:n }}" maxlength="1" readonly>
                                <div id="candidates-{{ l }}{{ n }}" class="candidates">
                                    <div class="candidate_box" id="{{ l }}{{ n }}-1">
                                        <input type="hidden" name="{{ l }}{{ n }}-1" value="">
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="candidate_box" id="{{ l }}{{ n }}-2">
                                        <input type="hidden" name="{{ l }}{{ n }}-2" value="">
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="candidate_box" id="{{ l }}{{ n }}-3">
                                        <input type="hidden" name="{{ l }}{{ n }}-3" value="">
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="candidate_box" id="{{ l }}{{ n }}-4">
                                        <input type="hidden" name="{{ l }}{{ n }}-4" value="">
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="candidate_box" id="{{ l }}{{ n }}-5">
                                        <input type="hidden" name="{{ l }}{{ n }}-5" value="">
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="candidate_box" id="{{ l }}{{ n }}-6">
                                        <input type="hidden" name="{{ l }}{{ n }}-6" value="">
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="candidate_box" id="{{ l }}{{ n }}-7">
                                        <input type="hidden" name="{{ l }}{{ n }}-7" value="">
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="candidate_box" id="{{ l }}{{ n }}-8">
                                        <input type="hidden" name="{{ l }}{{ n }}-8" value="">
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="candidate_box" id="{{ l }}{{ n }}-9">
                                        <input type="hidden" name="{{ l }}{{ n }}-9" value="">
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <input type="hidden" id="gen0" name="gen" value="0">
                    <input id="solve" type="submit" class="buttons" value="In Sudoku Helper übernehmen">

                </form>
                <button id="help" class="buttons" onclick="showHelp()">?</button>
            </div>
        </div>
        <div class="column">
            <p class="title_sub_text">{{ description }}</p>

            <article class="switch" id="candidateButton">
                <input id="candidates_checkbox" type="checkbox" onclick="showCandidates({{ candidates }})">
                <div>
                    <span>Kandidaten anzeigen</span>
                </div>
            </article>

            <div class="hints_box">
                {% for key, hint in hints.items %}
                    <details>
                        <summary id="key-{{ key }}" onclick="markField(id, {{ key }}, {{ hint }})">Hinweis {{ key }}:
                        </summary>
                        <p id="key-{{ key }}-p">{{ hint.0 }}</p>
                    </details>
                {% endfor %}
            </div>
            <p class="trainer_info" id="correctInfo">Es wurden noch nicht alle Möglichkeiten gefunden.</p>
        </div>

    </div>
</div>
<div id="winner" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>
        <h2>Herzlichen Glückwunsch!</h2><br>Sie haben das Sudoku erfolgreich gelöst.</p>
    </div>
</div>
<div id="helper" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>
        <h2>Anleitung</h2><br>Die Anwendung kann wie folgt genutzt werden:<br><br>
        <b>Zahlen 1-9</b> oder (aktiviertes) <b>Numpad 1-9</b> um Zahlen in Felder schreiben zu können<br>
        <b>Entf</b> oder <b>Backslash</b> um Zahlen zu löschen<br>
        <b>Shift + Zahlen 1-9</b> um Kandidaten zu setzen oder zu entfernen.<br>
        <b>A Taste</b> um Hinweis 4 auszuführen.
        </p>
    </div>
</div>
<script src="{% static 'sudoku/script/solver.js' %}"></script>
<script src="{% static 'sudoku/script/strategies.js' %}"></script>
</body>
</html>