{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sudoku Trainer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sudoku/style/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sudoku/style/trainer.css' %}">
</head>
<body onload="onSiteLoad()">
<ul class="header">
    <li><a href="/"><img class="logo" src="{% static "pictures/LOGO_SUDOKU.png" %}"></a></li>
    <li style="float:right"><a href="/sudoku-solver/">Sudoku Helper</a></li>
    <li style="float:right" class="active"><a href="/sudoku-trainer/">Sudoku Trainer</a></li>
    <li style="float:right"><a href="/sudoku-creator/">Sudoku Creator</a></li>
</ul>
<div class="body_div">
    <h1 class="title_text">LOGO SUDOKU - Trainer</h1>
    <div class="sub_text_box">
        <p class="title_sub_text">Der Trainer ermöglicht es dir die verschiedensten Lösungsstrategien zu üben und zu
            vertiefen.</p>
    </div>
    <div class="strategies">
        <details>
            <summary>Singles</summary>

            <div class="feature_box">
                <a href="/strategies?name=naked_single">
                    <div class="card">
                        <div>
                            <h4 class="section_title">Naked Single</h4>
                            <p class="section_text">Ein Naked Single ist eine Ziffer die in einem bestimmten Feld der
                                einzige Kandidat ist. Diese Ziffer muss in der Zelle gesetzt werden.</p>
                        </div>
                    </div>
                </a>
                <a href="/strategies?name=hidden_single">
                    <div class="card">
                        <div>
                            <h4 class="section_title">Hidden Single</h4>
                            <p class="section_text">Ein Hidden Single bezeichnet eine Ziffer die in einem beliebigen
                                Haus nur noch einen bestimmten Platz einnehmen kann.</p>
                        </div>
                    </div>
                </a>
            </div>
        </details>
        <details>
            <summary>Intersections</summary>
            <div class="feature_box">
                <a href="/strategies?name=locked_candidates_pointing">
                    <div class="card">
                        <div>
                            <h4 class="section_title">Locked Candidates Type 1</h4>
                            <p class="section_text">Ein Locked Candidate ist, wenn innerhalb eines Blocks alle
                                Kandidaten einer Ziffer auf eine bestimmte Reihe oder Spalte reduziert werden kann.
                        </div>
                    </div>
                </a>
                <a href="/strategies?name=locked_candidates_claiming">
                    <div class="card">
                        <div>
                            <h4 class="section_title">Locked Candidates Type 2</h4>
                            <p class="section_text">Wenn in einer Reihe oder Spalte alle Kandidaten einer Ziffer auf
                                genau einen Block beschränkt sind, so können alle Kandidaten dieser Ziffer aus dem
                                jeweiligen Block entfernt werden.</p>
                        </div>
                    </div>
                </a>
            </div>
        </details>
        <details>
            <summary>Nakeds</summary>
            <div class="feature_box">
                <a href="/strategies?name=naked_pair">
                    <div class="card">
                        <div>
                            <h4 class="section_title">Naked Pair</h4>
                            <p class="section_text">Beim Beispiel des Naked Pairs befinden sich zwei gleiche Kandidaten
                                in genau zwei Feldern einer Reihe, Spalte oder Blocks.
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/strategies?name=naked_triple">
                    <div class="card">
                        <div>
                            <h4 class="section_title">Naked Triple</h4>
                            <p class="section_text">Das Naked Triple ist genau gleich wie das Naked Pair, jedoch handelt
                                es sich um drei Kandidaten auf drei verschiedenen Feldern einer Reihe, Spalte oder
                                Blocks.</p>
                        </div>
                    </div>
                </a>
                <a href="/strategies?name=naked_quadruple">
                    <div class="card">
                        <div>
                            <h4 class="section_title">Naked Quadruple</h4>
                            <p class="section_text">Das Naked Quadruple findet dann Anwendung, wenn vier Kandidaten sich
                                vier Felder teilen und keine weiteren Kandidaten in diesen Feldern möglich sind.</p>
                        </div>
                    </div>
                </a>
            </div>
        </details>
        <details>
            <summary>Hiddens</summary>

            <div class="feature_box">
                <a href="/strategies?name=hidden_pair">
                    <div class="card">
                        <div>
                            <h4 class="section_title">Hidden Pair</h4>
                            <p class="section_text">Beim Hidden Pair sucht man zwei Zellen eines Hauses
                                die zwei Kandidaten besitzen, die sonst in keiner Zelle des Hauses Platz finden.</p>
                        </div>
                    </div>
                </a>
            </div>
        </details>
        <details>
            <summary>Fish</summary>

            <div class="feature_box">
                <a href="/strategies?name=x_wing">
                    <div class="card">
                        <div>
                            <h4 class="section_title">X-Wing</h4>
                            <p class="section_text">Man findet einen X-Wing indem man nach zwei Reihen oder Spalten
                                sucht wo ein Kandidat nur zwei verschiedene mögliche Felder besitzt.</p>
                        </div>
                    </div>
                </a>
                <a href="/strategies?name=swordfish">
                    <div class="card">
                        <div>
                            <h4 class="section_title">Swordfish</h4>
                            <p class="section_text">Ein Swordfish funktioniert genau gleich wie ein X-Wing. Der einzige
                                Unterschied ist, dass der Swordfish drei Base-Sets und drei Cover-Sets besitzt.</p>
                        </div>
                    </div>
                </a>
            </div>
        </details>
        <details>
            <summary>Single Digit Patterns</summary>

            <div class="feature_box">
                <a href="/strategies?name=skyscraper">
                    <div class="card">
                        <div>
                            <h4 class="section_title">Skyscraper</h4>
                            <p class="section_text">Bei einem Skyscraper sucht man denselben Kandidaten, der in zwei
                                Reihen oder Spalten genau zwei Möglichkeiten aufweist.</p>
                        </div>
                    </div>
                </a>
                <a href="/strategies?name=string_kite">
                    <div class="card">
                        <div>
                            <h4 class="section_title">2-String Kite</h4>
                            <p class="section_text">Den 2-String Kite findet man, indem man eine Ziffer sucht, deren
                                Kandidaten nur noch zwei mögliche Kandidaten in einer Zeile und einer Spalte
                                aufweisen.</p>
                        </div>
                    </div>
                </a>
            </div>
        </details>
        <details>
            <summary>Uniqueness</summary>

            <div class="feature_box">
                <a href="/strategies?name=unique1">
                    <div class="card">
                        <div>
                            <h4 class="section_title">Unique Rectangle Type 1</h4>
                            <p class="section_text">Ein Unique Rectangle hat vier Felder in genau zwei Rehen, zwei
                                Spalten und zwei Blöcken.</p>
                        </div>
                    </div>
                </a>
                <a href="/strategies?name=unique2">
                    <div class="card">
                        <div>
                            <h4 class="section_title">Unique Rectangle Type 2</h4>
                            <p class="section_text">Der einzige Unterschied zum UR 1 ist, dass nun zwei Kandidaten
                                desselben
                                Werts in nicht diagonalen Zellen des UR existieren.</p>
                        </div>
                    </div>
                </a>
            </div>
        </details>
    </div>
</div>
<script src="{% static 'sudoku/script/trainer.js' %}"></script>
</body>
</html>