body {
    margin: 0;
    background-color: #1f42c3;
}

.header {
    height: 69px;
    background-color: white;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 250px;
    font-size: 1.337rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
    font-weight: 700;
    text-transform: none;
    margin-top: 9px;
}

li a:hover:not(.active) {
    color: #1f42c3;
}

.logo {
    margin-top: -12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto
}